#banner {
    background: center / cover no-repeat url(https://images.unsplash.com/photo-1477071135119-a6b75c21aebc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2574&q=80);
    height: 100vh;
    width: 100%;
    .bannertext{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 1rem;
        p {
            color: whitesmoke;
            text-shadow: 5px 5px 5px #222;
            // font-size: 17px;
            margin: 0;
        }

        img {
            // transition: ease-in-out;
            animation: pulse 2s linear infinite;
        }
    }
}

@keyframes pulse {
	0% {
		transform: scale(1.11);
	}

    25% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.8);
	}

    75% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.11);
	}
}