@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: rgb(55, 55, 55);
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
