#header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: rgb(216, 207, 194);
}

#title h1{
    font-weight: normal;
}

#header li {
    display: inline;
    justify-content: space-between;
    padding: 0.1rem;
}

#header li:hover{
    background: rgb(203, 180, 148);
}

@media only screen and (min-width: 1000px) {
    #header li  {
        padding: 0.8rem;
    }
}